doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title uPlay
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width,initial-scale=1, maximum-scale=1')
		link(href='http://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='css/dictatorship.css')
	body
		header
			button#back(style="display:none")
				i.icon-back
				i.icon-logo							
			span#list-header 
				| <i class="icon-logo"></i>
				| Lista de reproducci&oacute;n
			div#search-box(style="display:none")
				input.search-string(placeholder="Buscar en Youtube")
				i.icon-remove-search
			ul#autocomplete-list
				
			button#search.push-right 
				i#down-arrow.icon-provider-downarrow(style="display:none") 
				i#provider.icon-search
			ul#provider-list(style="display:none")
				li.provider-item(data-provider="youtube")
					| <i class="icon-provider-youtube"></i>
					| <span>Youtube</span>
				li.provider-item(data-provider="soundcloud")
					| <i class="icon-provider-soundcloud"></i>
					| <span>Soundcloud</span>
			
		article
			ul#search-list

			ul#play-list

		footer
			div#progress
				div#progress-bar
			ul
				li#play(style="display:none") 
					i.icon-play
				li#pause
					i.icon-pause
				li#next 
					i.icon-next
				li#volume
					i.icon-volume
			div.media-name
				p

		div#volume-popup(style="display:none")
			div#volume-container
				div#volume-progress

	script(src="http://code.jquery.com/jquery-2.0.3.js")
	script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore.js")
	script(src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js")
	script(src="js/remote.debug.js")