doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title uPlay
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width,initial-scale=1, maximum-scale=1')
		link(href='http://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='css/index.css')

	body
		header
			img(src="/images/logo-header.png")

		article
			section#select-mode
				div#tv-mode
					img(src="/images/tv-selection.png")
					div.slider
						div.slider-header
							h2 Televisión
							p.slider-hidden Click aqui para utilizar este dispositivo como reproductor
							p.slider-visible(style="display:none") Introduzca los datos para crear una nueva sala
						form#create-room(action="/new", method="post")
							input(type="text", name="roomName", placeholder="Nombre para su sala")
							input(type="password", name="password", placeholder="Contraseña (si lo desea)")
							input(type="password", name="repeatPassword", placeholder="Repita la contraseña")
							input(type="submit")
							a(href="/login") Pincha aquí si ya existe la sala

						
				div#remote-mode
					img
					img(src="/images/remote-selection.png")
					div.slider
						div.slider-header
							h2 Smartphone
							p.slider-hidden Click aqui para utilizar este dispositivo como mando
							p.slider-visible(style="display:none") Introduzca los datos para acceder a una sala existente
						form#create-room(action="/login", method="post")
							input(type="text", name="roomName", placeholder="Sala")
							input(type="password", name="password", placeholder="Contraseña")
							input(type="hidden", name="type", value="remote")
							input(type="submit")
			section#details
				div#tv-details	
					div.detail
						i.img-detail-tv2
						h2 A distancia
						p Acceda a contenido multimedia de diferentes proveedores desde la distancia y solo con su conexion a internet y un navegador web
					div.detail
						i.img-detail-tv3
						h2 Sin descargas
						p No requiere que descarge nada, simplemente utilice su navegador para visualizar el contenido multimedia.
					div.detail
						i.img-detail-tv1
						h2 Sin registros
						p Cree su sala publica o privada e inmediatamente acceda a todo el contenido registrandose con su smartphone
				
				div#remote-details
					div.detail
						i.img-detail-remote2
						h2 Listas de reproducción
						p Cree remotamente listas de reproducción ajustadas a su gusto y salte entre los contenidos multimedia cuando lo desee.
					div.detail
						i.img-detail-remote3
						h2 Busqueda personalizada
						p Se ha desarrollado una busqueda basada en las diferentes API de los proveedores para ofrecerle contenido acorde a lo que busca

		footer
			p Gorka Laucirica

	script(src="http://code.jquery.com/jquery-2.0.3.js")
	script(src="/js/index.debug.js")