doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title uPlay
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width,initial-scale=1, maximum-scale=1')
		link(href='http://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/css/login.css')
	body
		header
			img(src="/images/logo-header.png")
		article
			section#tv-login
				h2 Televisión
				p Introduzca aqui los datos si desea conectar este dispositivo como reproductor
				form#login(action="/login", method="post")
					input(type="text", name="roomName", placeholder="Sala")
					input(type="password", name="password", placeholder="Contraseña")
					input(type="hidden", name="type", value="tv")
					input(type="submit")

			section#remote-login
				h2 Smartphone
				p Introduzca aqui los datos si desea conectar este dispositivo como mando a distancia. Asegurese de que la sala ya ha sido creada.
				form#login(action="/login", method="post")
					input(type="text", name="roomName", placeholder="Sala")
					input(type="password", name="password", placeholder="Contraseña")
					input(type="hidden", name="type", value="remote")
					input(type="submit")
		footer
			p #{error}