doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title uPlay
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width,initial-scale=1, maximum-scale=1')
		link(rel='stylesheet', href='/css/player.css')
	body
		article
			div.no-media
				img(src="/images/bg-logo.png")
				p Sartu hornitube.herokuapp.com -en hurrengo bideoa aukeratzeko
			div#soundcloud(style="display:none")
				div#soundcloud-container
					img(src="/images/soundcloudPlayer.png")
					div#sound-container
						img#media-image
						p#media-name


	script(src="http://code.jquery.com/jquery-2.0.3.js")
	script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore.js")
	script(src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js")
	script(src="//connect.soundcloud.com/sdk.js")
	script(src="http://www.google.com/jsapi")
	script(src="/js/youtube.js")
	script(src="/js/player.debug.js")
