@import "compass/reset";
@import "compass/css3";

$nav-icons: sprite-map("sprites/remote/*.png");
[class^="icon-"], [class*=" icon-"]
{
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  background: $nav-icons no-repeat;
  cursor: pointer;
} 

[class^="icon-playlist"], [class*=" icon-playlist"], [class^="icon-provider"], [class*=" icon-provider"]
{
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  background: $nav-icons no-repeat;
  cursor: pointer;
} 

@each $sprite in pause,play,next,search,playlist,back,volume,logo,remove-search { 
      .icon-#{$sprite} {
          background-position: sprite-position($nav-icons, $sprite); 
      }   
}

@each $sprite in playlist-pause,playlist-play,playlist-add, playlist-remove, playlist-tick, provider-downarrow, provider-youtube, provider-soundcloud { 
      .icon-#{$sprite} {
          background-position: sprite-position($nav-icons, $sprite); 
      }   
}
* 
{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}
body
{
	font-family: 'Roboto', sans-serif;
	background: #f1f1f1;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
header
{
	position: fixed;
	width: 100%;
	top: 0;
	height:44px;
	border-bottom: 1px solid #353535;
	@include background-image(linear-gradient(top, #333, #1b1b1b));	
	z-index: 10;
	input,button
	{
		float: left;
	}
	button
	{
		width: 64px;
		height: 32px;
		margin: 5px;
		background: none;
		border: 0;
		padding: 0;
		&.push-right
		{
			position: absolute;
			right: 0;
			width: 43px;
			margin: 5px 0px;
			i.icon-provider-downarrow
			{
				width: 11px;
			}
		}
	}	
	input
	{
		font-family: 'Roboto', sans-serif;
		float: left;
		background: none;
		border: 0;
		border-bottom: 1px solid whitesmoke;
		line-height: 36px;
		width: 47%;
		color: white; 
		margin: 0px 5px;
		font-size: 15px;
	}
	i.icon-remove-search
	{
		float: left;
		margin: 7px 0px;
	}
	span#list-header
	{
		color: #FFF;
		line-height: 44px;
		float: left;
		padding: 0px 10px;
		i
		{
			margin: 6px;
			float: left;
		}
	}
	ul#autocomplete-list
	{
		position: absolute;
		top: 45px;
		left: 50px;
		width: 156px;
		background: white;
		@include box-shadow(0px 1px 1px black);
		li
		{
			font-size: 0.8em;
			padding: 0.8em 0.5em;
			border-bottom: 1px solid #1B1B1B;
			cursor: pointer; 
			&:last-child
			{
				border: 0;
			}
			
		}
	}
	ul#provider-list
	{
		position: absolute;
		top: 45px;
		right: 0px;
		li
		{
			background: #1b1b1b;
			font-size: 0.8em;
			padding: 0.8em 0.5em;
			color: white;
			border-bottom: 1px solid #353535;
			text-align: right;
			cursor: pointer;
			span
			{
				line-height: 25px;
				padding: 0px 8px;
			}
			i
			{
				float:right;
			}
		}
	}
}
article
{
	margin: 50px 0px 80px 0px;
	ul
	{
		li
		{
			margin: 10px 6px;
			background: #FFF;
			overflow: hidden;
			position: relative;
			z-index: 0;
			&.playing
			{
				background: #F1F19F;
			}
			&.soundcloud-item div.image-container img
			{
				width: 67px;
				margin: 0px 26px;
			}
			div.image-container
			{
				position: relative;
				overflow: hidden;
				float: left;
				img
				{
					width: 120px;
					height: 67px;
					overflow: hidden;
					float:left;
				}
				i
				{
				    position: absolute;
				    background-color: white;
				    right: 1px;
				    top: 22px;
				    border-radius: 14px;
				    border: 2px solid white;
				    box-shadow: 0px 0px 2px;
				}
				span
				{
					position: absolute;
					bottom: 0px;
					left: 0px;
					background: black;
					background: rgba(0,0,0,0.5);
					color: white;
					font-size: 0.9em;
					padding: 3px 10px;
				}
			}
			div.video-info
			{
				padding: 2px 2px 0px 129px;
				height: 65px;
				font-size:12px;
				color: #666;
				h4
				{
					overflow: hidden;
					color: #333;
					font-weight: bold;
					margin-bottom: 2px;
					max-height: 34px;
					overflow:hidden;
				}
				div.button-container
				{
					position: absolute;
					bottom: 0;
					right: 0;
					span
					{
						display: inline-block;
						padding: 5px;
						background: #DDD;
						margin-left: 1px;
					}
				}
			}
		}
		div.show-more-search-items
		{
			text-align: center;
			padding: 1em;
			background: #DDD;
			margin: 10px 6px;
			font-weight: bold;
			cursor: pointer;
		}
	}
}
footer 
{
	position:fixed;
	left:0px;
	bottom:0px;
	width:100%;
	background: #252525;
	color: white;
	border-top: 1px solid #353535;
	border-bottom: 2px solid #000;
	overflow: auto;
	div#progress
	{
		cursor: pointer;
		div#progress-bar
		{
			height: 8px;
			padding-bottom:10px;
			background:red;
			width: 0%;
			@include transition-timing-function(linear);
			@include transition-property(width);
		}
	}
	li
	{
		padding: 10px;
		float: left;
	}
	div.media-name
	{
		height: 54px;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		width: 99999px;	
		p
		{
			max-height: 46px;
			overflow: hidden;
		}
	}
}
div#volume-popup
{
	position: fixed;
	width: 50px;
	height: 130px;
	background: #252525;
	left: 105px;
	box-shadow: 0px -2px 21px #000;
	bottom: 55px;
	div#volume-container
	{
		width: 20px;
		height: 100%;
		margin: auto;
		background: red;
		cursor: pointer;
		div#volume-progress
		{
			background: #353535;
			height: 30%;
		}
	}
}