@import "compass/reset";
@import "compass/css3";

$green: #368F41;
$orange: #CD6A01;
$nav-icons: sprite-map("sprites/index/*.png");
[class^="img-detail"], [class*=" img-detail"]
{
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: $nav-icons no-repeat;
} 

@each $sprite in detail-remote1, detail-remote2, detail-remote3,  detail-tv1, detail-tv2, detail-tv3 { 
      .img-#{$sprite} {
          background-position: sprite-position($nav-icons, $sprite); 
      }   
} 

body
{
	max-width: 960px;
	margin: auto;
	font-family: 'Roboto', sans-serif;
	background: white;  
	@include background(linear-gradient(left,#73b17a, #73b17a 50%, #dc974e 50%, #dc974e ));

}

header
{
	height: 100px;
	background: #C8C8C8; //Fallback
	@include background(linear-gradient(top,#B3B3B3, #E6E6E6 94%, #F2F2F2 96%, #F2F2F2));
	@include box-shadow(#333 0px 2px 15px);
	position: relative; //Otherwise shadows are hidden behind article
	z-index: 100; //locate over #select-mode
	overflow: hidden;
	img
	{
		padding-top: 5px;
	}
}
article
{
	section#select-mode
	{
		background: url("/images/bg.jpg");
		overflow: hidden;
		> div 
		{
			width: 50%;
			float: left;
			height:300px;
			padding: 10px;
			text-align: center;		
			position: relative;	
			color: white;
			
			@include box-sizing(border-box);
			&#tv-mode
			{
				background: url('/images/bg-tv.jpg');
				color: #193F1C;
				border-left: 10px solid #73b17a;
				input
				{
					color: #193F1C;
					&::-webkit-input-placeholder { color:  lighten($green, 20%); }
					&:-moz-placeholder { color: lighten($green, 20%); }
					&::-moz-placeholder { color: lighten($green, 20%); }
					&:-ms-input-placeholder { color: lighten($green, 20%); }
				}
				a
				{
					text-decoration: none;
					color: #193F1C;
				}
				.show-full
				{
					top: 75px;
				}

			}	
			&#remote-mode
			{
				background: url('/images/bg-remote.jpg');
				border-right: 10px solid #dc974e;
				color: #592b01;
				input
				{
					color: #592b01;
					&::-webkit-input-placeholder { color:  lighten($orange, 10%); }
					&:-moz-placeholder { color: lighten( $orange, 10%); }
					&::-moz-placeholder { color: lighten( $orange, 10%); }
					&:-ms-input-placeholder { color: lighten( $orange, 10%); }
				}
				.show-full
				{
					top:130px;
				}
			}
			img
			{
				height: 230px;
			}
			div.slider
			{
				background: rgba(255,255,255, 0.7);
				width: 100%;
				position: absolute;
				left: 0px;
				top: 240px;
				@include transition-duration(1s);
				@include box-shadow(#333 0px 2px 15px);				
				.slider-header
				{					
					cursor: pointer;
					h2
					{				
						padding: 10px;
						font-weight: bold;				
					}
					p
					{
						font-size: 0.8em;
						padding-bottom: 10px;
					}
				}
				form
				{
					padding-bottom: 300px;
				}
				input
				{
					border: 0;
					display: block;
					padding: 5px;
					margin: 5px auto;
					background: rgba(255, 255, 255, 0.8);
					border-radius: 5px;					
				}
			}
		}
	}
	section#details
	{
		height: 600px;
		@include background(linear-gradient(top, #F2F2F2, #F2F2F2 4%,#E6E6E6 6%, #B3B3B3));
		@include box-shadow(#333 0px -2px 15px);
		overflow: hidden;
		position: relative;
		> div
		{
			width: 50%;
			float: left;
			&#tv-details
			{
				color: $green;
			}
			&#remote-details
			{
				color: $orange;
			}
			> div.detail
			{
				padding: 30px;
				i
				{
					float: left;
				}
				h2, p
				{
					margin-left: 100px;
				}
				h2
				{					
					font-size: 1.1em;
					font-weight:bold;
					padding-bottom: 6px;
				}
				p
				{
					font-size: 0.9em;
					color: black;
				}
			}
		}
	}
}
footer
{
	padding: 10px;
	text-align: right;
	color: #592B01;
	background: none;
}
@media screen and (max-width:700px)
{ 
	body
	{
		background: #dc974e;
	}
	article section#select-mode
	{
		> div 
		{
			width: 100%;
			&#tv-mode
			{
				display: none;				
			}
			&#remote-mode
			{
				border-left: 10px solid #dc974e;
			}
		}
	}
	article section#details > div
	{
		width: 100%;
		&#tv-details
		{
			display:none;
		}
	}
}