@import "compass/reset";
@import "compass/css3";

$green: #368F41;
$orange: #CD6A01;

html
{	
	font-family: 'Roboto', sans-serif;
	background: white;  
	@include background(linear-gradient(left,#73b17a, #73b17a 50%, #dc974e 50%, #dc974e ));
}
body
{	
	background: white;
	@include background(linear-gradient(top, #F2F2F2, #F2F2F2 4%,#E6E6E6 6%, #B3B3B3));
	position: absolute;
	width: 600px;
	left: 50%;
	margin-left: -300px;
	height: 370px;
	top:50%;	
	margin-top: -185px;
	@include box-shadow(#333 0px 2px 15px);
}
header
{
	overflow:hidden;
}
article
{
	overflow:hidden;
	section
	{
		width: 50%;
		float: left;
		text-align: center;
		@include box-sizing(border-box);
		&#tv-login
		{
			color: $green;
			border-right: 1px solid #ACACAC;
			input
			{
				background: #73B17A;
			}
		}
		&#remote-login
		{
			color: $orange;
			border-left: 1px solid #ACACAC;
			input
			{
				background: #dc974e;
			}
		}
		h2
		{
			font-size: 1.3em;
			font-weight: bold;
		}
		p
		{
			font-size: 0.8em;
			padding: 10px;
		}
		form
		{
			@include box-sizing(border-box);
			padding: 10px;
			input
			{
				display: block;
				margin-bottom: 10px;
				width: 100%;
				border: 0;
				color: #FFF;
				padding: 10px;
				@include box-sizing(border-box);
				@include border-radius(6px);
				&::-webkit-input-placeholder { color:  #CCC; }
				&:-moz-placeholder { color: #AAA; }
				&::-moz-placeholder { color: #AAA; }
				&:-ms-input-placeholder { color: #AAA; }
			}
		}
	}
}
footer
{
	padding: 7px;
	color: #A50000;
	text-align: center;
}

@media screen and (max-width:700px)
{ 
	html
	{
		background: #dc974e;
	}
	body
	{
		width: 100%;
		left: 0;
		margin-left: 0%;
	}
	article section
	{
		width: 100%;
		&#tv-login
		{
			display: none;
		}
	}
}