@import "compass/reset";
@import "compass/css3";

html, body
{
	height: 100%;
}
body
{
	@include background-image(radial-gradient(center, #396D9F, #16283C 130%));
	overflow: hidden;
	font-family: "Source Sans Pro",sans-serif;
}

.player
{
	width: 100%;
	z-index: 10
}
div.no-media
{
		position: absolute;
		left: 50%;
		top: 50%;
		height: 200px;
		margin-top: -100px;
		width: 50%;
		margin-left: -25%;
		text-align: center;
		p
		{
			font-size: 20px;
			font-weight: bold;
			margin-top: 20px;
			color: #070C13;			
		}
}
div#soundcloud-container
{
	width: 400px;
	height: 300px;
	position: absolute;
	top: 50%;
	margin-top: -150px;
	left: 50%;
	margin-left: -200px;
	text-align: center;
	> img
	{
		width: 200px;
		margin-bottom: 40px;
	}
	#sound-container
	{
		@include box-shadow(0px 0px 16px black);
		#media-image
		{
			float: left;
			height: 100px;
		}
		#media-name
		{
			color: white;
			font-weight: bold;
			height: 80px;
			padding: 10px;
		}
	}
}
footer
{
	position: relative;
	top: -100px;
	z-index: 100;
	text-align: center;
	display: block;
	padding: 20px;
	font-size: 20px;
	font-weight: bold;
	width: 600px;
	margin: auto;
	border-radius: 20px;
	background: grey;
	color: whitesmoke;
	
	 border-width:3px;
    -webkit-border-image: 
    	-webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
    	-webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image:
    	     -o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
    	   -moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;    
}

